/* /* 这是一个公共样式比如说版心，导航栏，底部。。。。 */
/* 声明字体图标 这里一定要注意路径变化 */
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?yfgmg0');
    src: url('fonts/icomoon.eot?yfgmg0#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?yfgmg0') format('truetype'),
        url('fonts/icomoon.woff?yfgmg0') format('woff'),
        url('fonts/icomoon.svg?yfgmg0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}

/* 快捷导航栏 */
.shortcut {
    height: 30px;
    line-height: 30px;
    background-color: #f1f1f1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}


.style_red {
    color: #c81623;
}


.shortcut li {
    float: left;

}

.shortcut-you ul li:nth-child(even) {
    margin: 9px 15px 0;
    width: 2px;
    height: 12px;
    background-color: #666;
}

.arrow-icon::after {
    margin-left: 5px;
    font-family: 'icomoon';
    content: '\e90d';
}

/* 头部模块 */

.header {
    position: relative;
    height: 106px;
}

.logo {
    position: absolute;
    top: 29px;
    left: 0;
    width: 171px;
    height: 61px;
}


.logo a {
    display: block;
    width: 171px;
    height: 61px;
    background: url(../images/logo.png) no-repeat;
    /* font-size: 0; */
    text-indent: -9999px;
    overflow: hidden;
}

.search {
    position: absolute;
    top: 29px;
    left: 347px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;

}

.search input {
    float: left;
    width: 454px;
    height: 32px;
}

.search input[placeholder] {
    color: #666;
    padding: 10px;
}

.search button {
    float: right;
    width: 80px;
    height: 34px;
    background-color: #b1191a;
    color: white;
    font-size: 16px;
}

.hotwrods {
    position: absolute;
    left: 347px;
    top: 68px;
}

.hotwrods a {
    display: inline-block;
    padding: 0 14px;

}

.shopcar {
    position: absolute;
    top: 29px;
    right: 62px;
    width: 138px;
    height: 34px;
    background-color: #f7f7f7;
    line-height: 34px;
    text-align: center;

}

.shopcar img {
    width: 19px;
    height: 18px;
    margin-right: 5px;
    line-height: 34px;
}

.shopcar a::after {
    margin-left: 15px;
    font-family: 'icomoon';
    content: '\e90f';
}

.count {
    position: absolute;
    top: -3px;
    left: 100px;
    height: 14px;
    padding: 0 4px;
    line-height: 14px;
    color: white;
    background-color: #c81623;
    border-radius: 7px 7px 7px 0;
}

/* 导航栏模块 */
.nav {
    height: 46px;
    border-bottom: 2px solid #b1191a;
}

.nav .dropdown {
    float: left;
    height: 46px;
    width: 210px;
    background-color: #b1191a;

}

.nav .dropdown .dt {
    font-size: 16px;
    color: white;
    text-align: center;
    line-height: 46px;
}

.dropdown .dd {
    width: 210px;
    height: 465px;
    background-color: #c81623;
    border-left: 2px solid #c81623;
}

.dropdown .dd ul li {
    height: 31px;
    line-height: 31px;
    color: #fff;
}

.dropdown .dd ul li a {
    padding-left: 10px;
    font-size: 13px;
    color: white;
}

.dd ul li::after {
    float: right;
    margin-right: 3px;
    font-family: 'icomoon';
    content: '\e90d';
    color: white;
}

.dd ul li:hover {
    background-color: white;
    color: #c81623;
}

.dd ul li:hover a {
    color: #c81623;
}

.navitems ul li {
    float: left;
}

/* 给小a加padding挤开，用户可以更好的点击，所以这样更好 */
.navitems ul li a {
    padding: 0 30px;
    line-height: 46px;
    font-size: 16px;
}

/* 底部模块 */
.footer {
    height: 415px;
    background-color: #f5f5f5;
    padding-top: 30px;
    margin-top: 37px;
}

.mod_service {
    height: 80px;
    border-bottom: 1px solid #ccc;
}

.mod_service ul li {
    float: left;
    width: 240px;
    height: 50px;
    padding-left: 35px;
}

.mod_service h4 {
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 8px;
    background: url(../images/icons.png) no-repeat -253px -2px;
}

.mod_service h3 {
    font-size: 14px;
}

.mod_service p {
    font-size: 12px;
}

.pin h4 {
    background: url(../images/icons.png) no-repeat -253px -2px;
}

.bao h4 {
    background: url(../images/icons.png) no-repeat -253px -53px;
}

.zheng h4 {
    background: url(../images/icons.png) no-repeat -256px -105px;
}

.help h4 {
    background: url(../images/icons.png) no-repeat -256px -158px;
}

.mod_help {
    height: 188px;
    border-bottom: 1px solid #ccc;
}

.mod_help dl {
    float: left;
    margin-top: 22px;
    padding-left: 47px;
    width: 200px;
}

.mod_help dt {
    margin-bottom: 10px;
    font-size: 16px;

}

.mod_help dd {
    margin-bottom: 2px;
    font-size: 12px;
}

.mod_help dd img {
    height: 93px;
}

.mod_help dl:last-child {
    text-align: center;
}

.mod_copyright {
    padding-top: 20px;
    text-align: center;
}

.links {
    margin-bottom: 15px;
}

.links a {
    padding: 0 15px;
}

.copyright {
    line-height: 20px;
}