@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?e7bm5p');
    src: url('../fonts/icomoon.eot?e7bm5p#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?e7bm5p') format('truetype'),
        url('../fonts/icomoon.woff?e7bm5p') format('woff'),
        url('../fonts/icomoon.svg?e7bm5p#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.main {
    margin-left: 220px;
    margin-top: 10px;
    width: 980px;
    height: 456px
}

.focus {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 719px;
    height: 456px;
}

.next,
.prev {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.next {
    top: 50%;
    margin-top: -10px;
    right: -2px;
    border-radius: 15px 0 0 15px;
}

.prev {
    top: 50%;
    margin-top: -10px;
    left: 0;
    border-radius: 0 15px 15px 0;
}

.focus_bd {
    background-color: black;
}

.focus_bd ul {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -15px;
}

.focus_bd ul li {
    float: left;
    height: 10px;
    width: 10px;
    background-color: white;
    margin: 3px;
    border-radius: 5px;
}

.focus_bd ul .bck_red {
    background-color: #c81623;
}

.slides {
    /* position: absolute; */
    display: flex;
    width: 500%;
    height: 100%;
    transition: transform 0.5 ease;
    /* white-space: nowrap; */
}

.slides li {
    /* display: inline-block; */
    flex: 0 0 20%;
    height: 100%;
    width: 100%;
}

.slides li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.newsflash {
    float: right;
    width: 252px;
    height: 456px;
}

.news {
    height: 165px;
    border: 2px solid #e4e4e4;
}

.news-hd {
    border-bottom: 1px dotted #e4e4e4;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;

}

.news-hd h5 {
    float: left;
    font-size: 14px;
    font-weight: 400;
}

.news-hd a {
    float: right;
    font-size: 14px;

}

.news-hd a::after {
    margin-left: 5px;
    font-family: 'icomoon';
    content: '\e913';
}

.news-bd {
    margin: 5px 15px 0;
}

.news-bd ul li {
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lifeservice {
    height: 209px;
    margin-bottom: 5px;
    border-left: 2px solid #e4e4e4;
}

.lifeservice ul li a {
    float: left;
    padding-top: 13px;
    width: 62.5px;
    height: 70px;
    text-align: center;
    border-right: 2px solid #e4e4e4;
    border-bottom: 2px solid #e4e4e4;
}

.lifeservice ul li a p {
    margin-top: 5px
}

.lifeservice ul li a i {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../images/icons.png) no-repeat -16px -16px;
}

/* 推荐模块 */
.recom {
    text-align: center;
    line-height: 163px;
    margin-top: 10px;
    height: 163px;
    background-color: #ebebeb;
}

.recom_hd {
    float: left;
    width: 204px;
    height: 100%;
    background-color: #5c5251;
}

.recom_bd ul li {
    float: left;
    margin-top: 10px;
    width: 249px;
    height: 139px;
}

.recom_bd ul li:nth-child(-n+3) {
    border-right: 1px solid #ddd;
}

/* 猜你喜欢 */
.like {
    height: 264px;
    margin-top: 30px;
}

.like_hd h4 {
    float: left;
    font-size: 18px;
}


.like_hd a {
    float: right;
    font-size: 12px;
}

.like_hd a::after {
    content: '\e915';
    font-family: 'icomoon';
    padding-right: 10px;
    padding-left: 5px;
    font-size: 14px;
}

.like_bd {
    margin-top: 10px;
    height: 234px;
    border: 1px solid #ededed;
}

.like_bd ul {
    width: 1200px;
}

.like_bd ul li {
    float: left;
    width: 200px;
    height: 234px;
    padding-left: 35px;
    padding-top: 24px;
}

.bd_hd {
    width: 160px;
    height: 141px;
    text-align: center;
    line-height: 141px;
}

.like_bd ul li h4 {
    font-size: 12px;
}

.like_bd ul li span {
    font-size: 18px;
    color: #df3033;
}

.like_bd ul li span::before {
    content: '￥';
    font-size: 14px;
}

.bd_bd:nth-child(-n+4) {
    border-right: 1px solid #ededed;
}

/* 有趣区 */
.youqv {
    height: 438px;
    margin-top: 30px;
}

.youqv h3 {
    margin-bottom: 10px;
}

.col_404 {
    background-color: #f7f7f7;
    width: 404px;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
}

.youqv .bd_bt {
    border: 1px solid #ededed;
}

.bd_bt>div {
    float: left;
}

.col_227 {
    width: 227px;
}

.youqv .bd_bt h4 {
    text-align: center;
    padding: 10px 0;
    margin: 0 20px 20px;
    border-bottom: 1px dashed #999999;
}

.youqv .bd_bt .tupian {
    display: inline-block;
    margin: 13px 0 10px 10px;
}

.hengxian {
    border-bottom: 1px solid #ededed;
}

.col_165 {
    width: 163px;
}

/* 家电模块 */
.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}

.box_hd h3 {
    float: left;
    font-size: 18px;
    font-weight: 400;
}

.box_hd ul {
    float: right;
}

.box_hd ul li {
    float: left;
    padding: 0 15px;
}

.box_hd ul li:nth-child(-n+8) {
    border-right: 1px solid #999999;
}

.floor .w {
    margin-top: 30px;
}

.box_bd {
    height: 361px;
}

.tab_content_item>div {
    float: left;
    height: 361px;
    text-align: center;
}

.col_210 {
    width: 210px;
    background-color: #f9f9f9;
    text-align: center;
}

.col_210 ul {
    padding: 0 15px;
}

.col_210 ul li {
    float: left;
    border-bottom: 1px solid #ededed;
    width: 80px;
    height: 33px;
    margin-right: 10px;
    text-align: center;
    line-height: 33px;
}

.col_210 img {
    margin-top: 25px;
}

.col_329 {
    width: 329px;
}


.col_221 {
    width: 221px;
    border-right: 1px solid #ededed;
    padding-top: 20px;
}

.col_219 {
    width: 219px;
    padding-top: 20px;
}

.dd {
    display: block;
    border-bottom: 1px solid #ededed;
    height: 170px;
}

.dd_221 {
    display: block;
    border-bottom: 1px solid #ededed;
    height: 340px;
}

/* 侧边栏 */
.cebianlan {
    position: fixed;
    left: 80px;
    top: 200px;
}

.cebianlan ul li a {
    display: block;
    width: 50px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #c2c2c2;
    text-align: center;
}

.cebianlan ul li a:hover {
    background-color: #c81623;
    color: white;
}